<h1>Set up your Mad Mimi Credentials</h1>

<p>Set up your Mad Mimi Credentials so we can connect to Mad Mini</p>

<% form_for :madmimi_credential, :url => {:action => 'setup_madmimi_credentials'} do |f| -%>
  <label for='madmini_credential_username'>
		<strong>User Name</strong>
  </label>
  <p>
		<%= f.text_field 'username' %>
  </p>
	<label for='madmini_credential_api_key'>
		<strong>API Key</strong>
  </label>
  <p>
		<%= f.text_field 'api_key' %>
  </p>
	
	<%= f.submit 'Commit' %>
<% end %>